.atividade1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Imagem1{
    border: 10px  solid rgb(24, 24, 24);
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 30px;
}

.Texto2{
    margin: 30px;
    text-align: justify;
}

.Titulo2{
    text-align: center;
}

.caixa_de_texto2{
    background-color: rgb(37, 37, 37, 0.7);
    margin: 10px;
    border-radius: 30px;
}

.ingles{
    font-style: italic;
}