                                        /* Geral */

body{
    background-image: url(../img/Fundo.jpg);
    color: white;
    background-size: 100%;
    background-attachment: fixed;
}

*{
    margin: 0px;
}

                                        /* Header */

header nav ul li{
    color: white;
    text-transform: uppercase;
    display: inline;
    font-size: 3vh;
    padding: 8px;
}

header nav {
    width: 100%;
}

header{ 
    background-color: rgba(2, 21, 71, 0.8);
    backdrop-filter: blur(3px);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 7vh;
    padding-top: 5px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

header nav ul li:hover {
    background-color: white;
    color: black;
    border-radius: 10px;
    transition: 0.6s;   
}

header nav ul a{
    text-decoration: none;
}

                                            /* Main */

main{
    margin-top: 100px;
}

main img{
    height: 50vh;
    width: 50vh;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 50px;
    box-shadow: 5px 10px 30px rgb(0, 0, 0);
}

.inicio{
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
    margin-left: 50px;
}

.texto{
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 0px;
    font-size: 1.6vh;
    background-color:  rgb(3, 28, 90, 0.5);
    backdrop-filter: blur(3px);
    margin-top: 30px;
    border-radius: 50px;
    box-shadow: 5px 10px 30px rgb(0, 0, 0);
}

h1{
    margin-top: 30px;
    text-align: justify;
}

.Titulo{
    display: flex;
    justify-content: center;
    font-size: 4vh;
}

.Lista{
    display: flex;
    justify-content: space-around;
}

.primario{
    font-size: 8vh;
    text-shadow: 5px 2px 10px rgb(0, 0, 0);
}

.Topicos{
    text-transform: uppercase;
    margin-top: 50px;
    margin-right: 85%;
    border-radius: 0px 15px 15px 0px;
    font-size: 4vh;
    background-color: rgba(2, 21, 71, 0.7);
    padding: 10px;
    backdrop-filter: blur(3px);
}

.projeto1{
    height: 40vh;
    width: 40vh;
    margin: 30px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center; 
    backdrop-filter: blur(3px);
}

.projeto1 h1{
    font-size: 4vh;
}

.atividades{
    display: flex;
    justify-content: space-around;
}

.imagem_atividades{
    width: 300px;
    height: 250px;
    border-radius: 30px;
    text-shadow: 5px 2px 10px rgb(0, 0, 0);
    margin-bottom: 30px;
    
}

.imagem_atividades2{
    width: 300px;
    height: 240px;
    border-radius: 30px;
    text-shadow: 5px 2px 10px rgb(0, 0, 0);
    margin-bottom: 30px;
}

.tela_de_inicio{
    width: 300px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1px);
    border-radius: 30px;
    position: absolute;
    margin: 30px 0px 30px 20px;
    text-align: center;
    align-content: center;
}

.monitor{
   width: 30px;
   margin-top: 20px;
   margin-right: 10px;
}

.ponteiro{
    width: 20px;
}

.ver_mais{
    background-color: rgb(2, 21, 71, 0.9); 
    margin-top: 24px;
    position: absolute;
    width: 300px;
    height: 50px;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    align-content: center;
    backdrop-filter: blur(3px);
}

.ver_mais p{
    background-color: white;
    color: black;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 30px;
    padding: 7px;
    font-size: 15px;
}

.banco{
    width: 30px;
}

.icones p{
    font-size: 25px;
    margin-left: 10px;

}

.icones{
    margin-top: 20px;
}

                                                /* Footer */

footer {
    background-color: rgba(2, 21, 71, 0.8);
    backdrop-filter: blur(3px);
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    flex-direction: column;
    padding-top: 10px;
    margin-top: 100px;
    padding-bottom: 10px;
}

footer h1{
    display: flex;
    justify-content: center;
    font-size: 3.5vh;
    margin-top: -10px;
    margin-bottom: 10px;
}

.icones{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Icon1{
    width: 5vh;
}

.Icon2{
    width: 4vh;
    margin-left: 30px;
    margin-right: 30px;
}

.Icon3{
    width: 6vh;
}